<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2017, Oracle and/or its affiliates.
  The Universal Permissive License (UPL), Version 1.0
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-oracle-idm-auth"
        version="2.2.0">
  <name>cordova-plugin-oracle-idm-auth</name>
  <description>Provides authentication and authorization functionality using the Oracle IDM SDK, supporting standard protocols like Basic Auth, OAUTH, OpenID Connect and WebSSO</description>
  <keywords>cordova,idm,authentication,auth</keywords>
  <js-module src="www/IdmAuthFlows.js" name="IdmAuthFlows">
    <clobbers target="cordova.plugins.IdmAuthFlows"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <framework src="org.slf4j:slf4j-api:1.7.25"/>
    <framework src="com.nimbusds:nimbus-jose-jwt:4.26@jar"/>
    <framework src="net.minidev:json-smart:2.3"/>
    <framework src="com.squareup.okhttp3:okhttp:3.8.0"/>
    <framework src="com.android.support:support-v4:28.0.0"/>
    <framework src="com.android.support:customtabs:28.0.0"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="IdmAuthFlows">
        <param name="android-package" value="oracle.idm.auth.plugin.IdmAuthenticationPlugin"/>
      </feature>
      <preference name="AndroidLaunchMode" value="singleTask" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="oracle.idm.auth.plugin.WebViewActivity"/>
    </config-file>

    <!-- Plugin Sources -->
    <source-file src="src/android/src/oracle/idm/auth/plugin/IdmAuthenticationPlugin.java" target-dir="src/oracle/idm/auth/plugin"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/IdmAuthenticationFactory.java" target-dir="src/oracle/idm/auth/plugin"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/IdmAuthentication.java" target-dir="src/oracle/idm/auth/plugin"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/WebViewActivity.java" target-dir="src/oracle/idm/auth/plugin"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/customtabs/CustomTabActivityHelper.java" target-dir="src/oracle/idm/auth/plugin/customtabs"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/customtabs/CustomTabsHelper.java" target-dir="src/oracle/idm/auth/plugin/customtabs"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/customtabs/ServiceConnection.java" target-dir="src/oracle/idm/auth/plugin/customtabs"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/customtabs/ServiceConnectionCallback.java" target-dir="src/oracle/idm/auth/plugin/customtabs"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/local/FingerprintAuthenticationDialogFragment.java" target-dir="src/oracle/idm/auth/plugin/local"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/local/FingerprintUiHelper.java" target-dir="src/oracle/idm/auth/plugin/local"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/local/FingerprintPromptLocalizedStrings.java" target-dir="src/oracle/idm/auth/plugin/local"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/local/LocalAuthentication.java" target-dir="src/oracle/idm/auth/plugin/local"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/util/ResourceHelper.java" target-dir="src/oracle/idm/auth/plugin/util"/>
    <source-file src="src/android/src/oracle/idm/auth/plugin/util/PluginErrorCodes.java" target-dir="src/oracle/idm/auth/plugin/util"/>
    <resource-file src="src/android/res/layout/activity_web_view.xml" target="res/layout/activity_web_view.xml"/>
    <resource-file src="src/android/res/layout/fingerprint_dialog_content.xml" target="res/layout/fingerprint_dialog_content.xml"/>
    <resource-file src="src/android/res/layout/fingerprint_dialog_container.xml" target="res/layout/fingerprint_dialog_container.xml"/>
    <resource-file src="src/android/res/layout/login_dialog.xml" target="res/layout/login_dialog.xml"/>
    <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml"/>
    <resource-file src="src/android/res/values/cordova-plugin-oracle-idm-auth_strings.xml" target="res/values/cordova-plugin-oracle-idm-auth_strings.xml"/>
    <resource-file src="src/android/res/drawable/ic_fingerprint_error.xml" target="res/drawable/ic_fingerprint_error.xml"/>
    <resource-file src="src/android/res/drawable/ic_fingerprint_success.xml" target="res/drawable/ic_fingerprint_success.xml"/>
    <resource-file src="src/android/res/drawable-xhdpi/ic_fp_40px.png" target="res/drawable-xhdpi/ic_fp_40px.png"/>
    <resource-file src="src/android/res/drawable-xxhdpi/ic_fp_40px.png" target="res/drawable-xxhdpi/ic_fp_40px.png"/>
    <resource-file src="src/android/res/drawable-hdpi/ic_fp_40px.png" target="res/drawable-hdpi/ic_fp_40px.png"/>
    <resource-file src="src/android/res/drawable-mdpi/ic_fp_40px.png" target="res/drawable-mdpi/ic_fp_40px.png"/>
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_fp_40px.png" target="res/drawable-xxxhdpi/ic_fp_40px.png"/>
    <resource-file src="src/android/lib-proguard-rules.pro" target="lib-proguard-rules.pro"/>

    <!-- IDM SDK Sources -->
    <source-file src="src/android/sdk/oracle/idm/mobile/BaseCheckedException.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/OMAuthenticationRequest.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/OMErrorCode.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/OMExceptionEvent.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/OMMobileSecurityException.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/OMMobileSecurityService.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/OMSecurityConstants.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/BuildConfig.java" target-dir="src/oracle/idm/mobile/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/ASMInputController.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/AuthServiceInputCallback.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/AuthStateTransition.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/AuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/AuthenticationServiceManager.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/BasicAuthCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/BasicAuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/CBAAuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/ChallengeBasedService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/DefaultStateTransition.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/FedAuthCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/FederatedAuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/IDCSClientRegistrationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/IDCSClientRegistrationToken.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/IdentityContext.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthAuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthAuthorizationCodeCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthAuthorizationCodeService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthClientCredentialService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthConnectionsUtil.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthMSDYCRService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthMSPreAuthZCodeService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthMSPreAuthzCodeAuthCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthMSToken.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthMSTwoLeggedDYCRService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthResourceOwnerCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthResourceOwnerService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OAuthToken.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OMAuthenticationChallenge.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OMAuthenticationChallengeType.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OMAuthenticationCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OMAuthenticationContext.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OMCookie.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OMToken.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OfflineAuthCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OfflineAuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OneWaySSLCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/OpenIDConnect10AuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/RCUtility.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/RefreshTokenAuthenticationService.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/TimeoutManager.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/TwoWaySSLCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/UsernamePasswdAuthServiceInputCallbackImpl.java" target-dir="src/oracle/idm/mobile/auth/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/AndroidKeyStoreKeyProvider.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/DefaultKeyProvider.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/KeyProvider.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMAuthData.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMAuthenticationManager.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMAuthenticationManagerException.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMAuthenticationPolicy.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMAuthenticator.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMDefaultAuthenticator.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMFingerprintAuthenticator.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/OMPinAuthenticator.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/local/SecretKeyWrapper.java" target-dir="src/oracle/idm/mobile/auth/local/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/logout/FedAuthLogoutCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/logout/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/logout/OAuthAuthorizationCodeLogoutHandler.java" target-dir="src/oracle/idm/mobile/auth/logout/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/logout/OMLogoutCompletionHandler.java" target-dir="src/oracle/idm/mobile/auth/logout/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/openID/OpenIDToken.java" target-dir="src/oracle/idm/mobile/auth/openID/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/openID/OpenIDTokenService.java" target-dir="src/oracle/idm/mobile/auth/openID/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/openID/OpenIDUserInfo.java" target-dir="src/oracle/idm/mobile/auth/openID/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/webview/BaseWebViewClient.java" target-dir="src/oracle/idm/mobile/auth/webview/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/webview/FederatedWebViewHandler.java" target-dir="src/oracle/idm/mobile/auth/webview/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/webview/LoginWebViewHandler.java" target-dir="src/oracle/idm/mobile/auth/webview/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/webview/LogoutWebViewClient.java" target-dir="src/oracle/idm/mobile/auth/webview/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/webview/OAuthWebViewConfigurationHandler.java" target-dir="src/oracle/idm/mobile/auth/webview/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/webview/WebViewAuthServiceInputCallbackImpl.java" target-dir="src/oracle/idm/mobile/auth/webview/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/auth/webview/WebViewConfigurationHandler.java" target-dir="src/oracle/idm/mobile/auth/webview/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/callback/OMAuthenticationContextCallback.java" target-dir="src/oracle/idm/mobile/callback/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/callback/OMHTTPRequestCallback.java" target-dir="src/oracle/idm/mobile/callback/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/callback/OMMobileSecurityServiceCallback.java" target-dir="src/oracle/idm/mobile/callback/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/certificate/ClientCertificatePreference.java" target-dir="src/oracle/idm/mobile/certificate/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/certificate/OMCertificateInfo.java" target-dir="src/oracle/idm/mobile/certificate/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/certificate/OMCertificateService.java" target-dir="src/oracle/idm/mobile/certificate/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OAuthAuthorizationGrantType.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMApplicationProfile.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMAuthenticationScheme.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMBasicMobileSecurityConfiguration.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMCBAMobileSecurityConfiguration.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMConnectivityMode.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMFederatedMobileSecurityConfiguration.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMMSOAuthMobileSecurityConfiguration.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMMobileSecurityConfiguration.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMOAuthMobileSecurityConfiguration.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/configuration/OMOICMobileSecurityConfiguration.java" target-dir="src/oracle/idm/mobile/configuration/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/CBAExceptionEvent.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/InvalidCredentialEvent.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/InvalidRedirectExceptionEvent.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OAuthAuthorizationService.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OAuthHttpRequest.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OMAuthorizationService.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OMConnectionHandler.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OMCookieManager.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OMHTTPRequest.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OMHTTPResponse.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OMSSLSocketFactory.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/OMX509KeyManager.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/connection/SSLExceptionEvent.java" target-dir="src/oracle/idm/mobile/connection/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/credentialstore/OMCredential.java" target-dir="src/oracle/idm/mobile/credentialstore/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/credentialstore/OMCredentialStore.java" target-dir="src/oracle/idm/mobile/credentialstore/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/credentialstore/OMClassicCredentialStore.java" target-dir="src/oracle/idm/mobile/credentialstore/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/Base64.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/CryptoException.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/CryptoScheme.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/FilePathSupport.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/KeySupport.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/OMCryptoService.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/OMInvalidKeyException.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/OMKeyManager.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/OMKeyManagerException.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/OMKeyStore.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/OMSecureStorageException.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/OMSecureStorageService.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/crypto/SecureSerializationSupport.java" target-dir="src/oracle/idm/mobile/crypto/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/logging/OMLog.java" target-dir="src/oracle/idm/mobile/logging/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/logging/OMLogManager.java" target-dir="src/oracle/idm/mobile/logging/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/logging/OMLogger.java" target-dir="src/oracle/idm/mobile/logging/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/CustomLinkedHashSet.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/DefaultAuthenticationUtils.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/DeviceUtil.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/GenericsUtils.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/LogUtils.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/OMVersion.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/StringUtils.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/URLUtils.java" target-dir="src/oracle/idm/mobile/util/"/>
    <source-file src="src/android/sdk/oracle/idm/mobile/util/ArrayUtils.java" target-dir="src/oracle/idm/mobile/util/"/>
  </platform>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="IdmAuthFlows">
        <param name="ios-package" value="IdmAuthenticationPlugin"/>
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="NSFaceIDUsageDescription">
      <string>To authenticate using FaceID.</string>
    </config-file>

    <source-file src="src/ios/src/IdmAuthenticationPlugin.m"/>
    <header-file src="src/ios/src/IdmAuthenticationPlugin.h"/>
    <source-file src="src/ios/src/IdmAuthentication.m"/>
    <header-file src="src/ios/src/IdmAuthentication.h"/>
    <source-file src="src/ios/src/AuthViewController.m"/>
    <header-file src="src/ios/src/LocalAuthenticator.h"/>
    <source-file src="src/ios/src/LocalAuthenticator.m"/>
    <header-file src="src/ios/src/AuthViewController.h"/>
    <resource-file src="src/ios/src/AuthWebView.storyboard"/>

    <!-- IDM SDK Sources -->
    <header-file src="src/ios/sdk/IDMMobileSDKv2Library/IDMMobileSDKv2Library.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/BaseClass/OMDefinitions.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/BaseClass/OMErrorCodes.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/NSData+OMBase64.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/NSData+OMBase32.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMASN1Node.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMClientCertChallangeHandler.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMCryptoService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMIdentityContext.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMJSONUtlity.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMOTPService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMReachability.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMTimer/NSTimer+OMTimes.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMTimer/OMTimeEvent.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMTimer/OMTimer.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMURLProtocol.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/KeychainItemWrapper.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMClassicCredential.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMCredential.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMCredentialStore.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMKeyChain.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/IDMMobileSDKv2.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/JailBroken/OMJailBrokenDetector.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/KeyManager/OMKeyManager.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/KeyManager/OMKeyStore.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMAuthData.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMAuthenticator.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMDefaultAuthenticator.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMLocalAuthenticationManager.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMPinAuthenticator.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMTouchIDAuthenticator.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMBiometricAuthenticator.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAssertionGrant.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationChallenge.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationContext.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationDelegate.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationManager.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationRequest.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthorizationCodeGrant.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthorizationGrant.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMCertInfo.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMCertService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCertAuthenticationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCertConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCertLogoutService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCredentialGrant.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMConnectionHandler.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMCSRFRequestHandler.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMFedAuthAuthenticationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMFedAuthConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMFedAuthLogoutService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMHTTPBasicAuthenticationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMHTTPBasicConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMHTTPBasicLogoutService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMIDCSClientRegistrationGrant.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMIDCSClientRegistrationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMIDCSClientRegistrationToken.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMImplicitGrant.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMLogoutService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMMobileSecurityConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMMobileSecurityService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMOAuthClientAssertionService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMOAuthClientRegistrationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMOAuthConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMUserAssertionService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthAuthenticationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthLogoutService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthWebViewHandler.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMObject.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOIDCAuthenticationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOIDCConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOIDCLogoutService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOpenIDCAuthenticationService.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOpenIDCConfiguration.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMOpenIDCServiceDiscovery.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMResourceOwnerGrant.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMServiceDiscoveryHandler.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMToken.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMVersion.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMWKWebViewClient.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/OMWKWebViewCookieHandler.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMDataSerializationHelper.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMSecureCrypto.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMSecureStorage.h"/>
    <header-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMUtilities.h"/>

    <source-file src="src/ios/sdk/IDMMobileSDKv2Library/IDMMobileSDKv2Library.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/NSData+OMBase32.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/NSData+OMBase64.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMASN1Node.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMClientCertChallangeHandler.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMCryptoService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMIdentityContext.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMJSONUtlity.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMOTPService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMReachability.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMTimer/NSTimer+OMTimes.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMTimer/OMTimeEvent.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMTimer/OMTimer.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/Common/OMURLProtocol.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/KeychainItemWrapper.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMClassicCredential.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMCredential.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMCredentialStore.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/CredentialStoreService/OMKeyChain.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/JailBroken/OMJailBrokenDetector.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/KeyManager/OMKeyManager.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/KeyManager/OMKeyStore.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMAuthData.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMAuthenticator.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMDefaultAuthenticator.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMLocalAuthenticationManager.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMPinAuthenticator.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMTouchIDAuthenticator.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/LocalAuthentication/OMBiometricAuthenticator.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAssertionGrant.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationChallenge.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationContext.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationManager.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationRequest.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthenticationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthorizationCodeGrant.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMAuthorizationGrant.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMCertInfo.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMCertService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCertAuthenticationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCertConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCertLogoutService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMClientCredentialGrant.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMConnectionHandler.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMCSRFRequestHandler.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMFedAuthAuthenticationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMFedAuthConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMFedAuthLogoutService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMHTTPBasicAuthenticationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMHTTPBasicConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMHTTPBasicLogoutService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMIDCSClientRegistrationGrant.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMIDCSClientRegistrationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMIDCSClientRegistrationToken.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMImplicitGrant.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMLogoutService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMMobileSecurityConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMMobileSecurityService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMOAuthClientAssertionService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMOAuthClientRegistrationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMOAuthConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAMUserAssertionService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthAuthenticationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthLogoutService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOAuthWebViewHandler.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMObject.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOIDCAuthenticationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOIDCConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOIDCLogoutService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOpenIDCAuthenticationService.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOpenIDCConfiguration.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMOpenIDCServiceDiscovery.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMResourceOwnerGrant.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMServiceDiscoveryHandler.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMToken.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMWKWebViewClient.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/OMWKWebViewCookieHandler.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMDataSerializationHelper.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMSecureCrypto.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMSecureStorage.m"/>
    <source-file src="src/ios/sdk/IDMMobileSDKv2/SecureStorage/OMUtilities.m"/>
  </platform>

</plugin>
